<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Deployment Tests">
    <test name = "Is the app working?">
        <classes>
            <class name = "AppStateTest" />
        </classes>
    </test>
    <test name = "Login and operations">
        <classes>
            <class name = "LoginTest" />
        </classes>
    </test>
</suite>